.listContainer{
    width: 100%;
    overflow-y: auto;
    height: 80vh;
    @media (max-width:1280px){
        width: 50vw;
        overflow-x: hidden;
      }
@media (max-width:480px){
    width: 100%;
}
}

.historyList{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 700px;
    border-bottom: 1px solid #bec2ce;
    padding: 1rem;
    align-items: center;
    @media(max-width:1280px){
        flex-direction: column;
        width: auto;
    }
}
.wordWrap{
    word-wrap: break-word;
    width: 420px;
    @media(max-width:1280px){
        width: 100%;

    }
}
.cardContent{
    @media(max-width:1280px){
        width: 100%;
    }
}
.alert{
    margin-bottom: 2rem;
}
.placeImg{
    width: 200px;
  height: 200px;
  border-radius: 4px;
  cursor: pointer;
}

.iconRotate{
    transform: rotateZ(55deg);
    font-size: 1.2rem !important;
    color: #9298b0c5;
}

.ratingContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width:768px){
        flex-direction: column;
        margin-top: .5rem;
    }
}
.textTotalReviews{
    margin-left: 0.5rem !important;

}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    @media (max-width:768px) {
        flex-direction: column;
      }
}
.remove{
    background-color: red !important;
    color:white
}