.mapContainer {
  width: 60vw;
  height: 100vh !important;
  position: relative;
  @media (max-width: 480px) {
    width: 100%;
    height: 500px !important;
  }
}

.textLoader {
  position: absolute;
  top: 0;
  width: 60vw;
  height: 100vh !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    width: 100%;
    height: 500px !important;
  }
}
