.mapContainer {
  width: 60vw;
  height: 100vh !important;
  position: relative;
}

.textLoader {
  position: absolute;
  top: 0;
  width: 60vw;
  height: 100vh !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
