html {
  background-color: #f4f4f4;
}
.try {
  margin-bottom: 1rem;
  margin-top: 1rem;
}



.autocomplete-dropdown-container {
  width: 300px;
  word-wrap: break-word;
  height: 50px;
}




.pac-target-input:not(:-webkit-autofill) {
  animation-name: unset;
}


.MuiTypography-subtitle1 {
  word-wrap: break-word;
  width: 420px;
  font-size:0.9rem !important;
  display: flex;
}

.MuiCardContent-root{
  padding: 16px 16px 0 16px !important;
}

.MuiBackdrop-root{
  z-index: 10 !important;
}

.MuiCard-root{
  overflow-y: scroll !important;
}